body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #C0C0C0;
    color: black;
    justify-content: center;
}

.pie {
    margin-top: 10px;
}

div.error {
    color: red;
    border: 2px solid red;
}

.bloqueC {
    height: max-content;
    width: 70vw;
    margin: 3vh 15vw;
    padding: 1vh 1vw;
    background-color: #E1E1E1;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contratoC a {
    margin: 10px 10px 0px 10px;
}

.toggleD,
.toggle {
    margin: 0px 10px 0px 10px;
    display: none;
    height: auto;
    background: #fff;
    color: #001F3F;
    padding: 50px 0;
    text-align: center;
}

.wrap {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.toggle p,
.toggleD p {
    font-size: 20px;
    margin-bottom: 50px;
}

.toggle button,
.toggleD button,
.botonU {
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    display: inline-block;
    border: 5px solid black;
    transition: 0.3s all ease;
}

.toggle button:hover,
.toggleD button:hover,
.botonU:hover {
    border: 5px solid #ff7e34;
    color: #ff7e34;
}

.btn-toggle,
.btn-toggleD {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: block;
    background: #ff7e34;
    text-align: center;
}

#datosU {
    overflow-y: unset;
}

.botonU {
    background-color: #C0C0C0;
    padding: 10px 30px;
    width: 40%;
    margin: 5% 30%;
}

.btn-toggle:hover,
.btn-toggleD:hover {
    text-decoration: none;
}

.active {
    display: flex;
}

.activetog {
    display: flex;
}