body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #C0C0C0;
    color: black;
}

.bloqueI {
    height: 70vh;
    margin: 3vh 3vw;
    padding: 1vh 1vw;
    background-color: #A0A0A0;
}