body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #404040;
    color: black;
}

nav {
    background-color: orange;
    height: 51px;
}

strong {
    font-weight: 700;
}

nav ul {
    margin: 0;
}

nav li:first-child {
    float: left;
}

nav li {
    display: inline-block;
    float: right;
}

nav li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 16px 38px;
}

nav li a:hover {
    background-color: darkorange;
}

.excepcion {
    margin: 3vh 3vw;
    padding: 1vh 1vw;
    background-color: #A0A0A0;
}