body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #404040;
    color: white;
}

nav {
    background-color: orange;
    height: 51px;
}

nav ul {
    margin: 0;
}

nav li:first-child {
    float: left;
}

nav li {
    display: inline-block;
    float: right;
}

nav li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 16px 38px;
}

nav li a:hover {
    background-color: darkorange;
}

div.error {
    color: red;
    border: 2px solid red;
}

.contenido {
    width: 100vw;
    height: max-content;
}

.inmueble {
    position: relative;
    width: 30vw;
    height: auto;
    border: 2px solid black;
    background-color: white;
    color: #404040;
    box-shadow: 0 0 15px black;
    margin: 50px 50px;
    padding: 5%;
}

.pie {
    display: flex;
    position: relative;
    margin-bottom: 0;
}