body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #404040;
    color: white;
}

.naveg {
    background-color: orange;
    height: 60px;
}

.naveg ul {
    margin: 0;
}

.naveg li:first-child {
    float: left;
}

.naveg li {
    display: inline-block;
    float: right;
}

.naveg li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 16px 38px;
}

.naveg li a:hover {
    background-color: darkorange;
}

div.error {
    color: red;
    border: 2px solid red;
}

div.error {
    color: red;
    border: 2px solid red;
}

.inserta {
    margin: 1%;
    background-color: darkorange;
    width: 98%;
    position: relative;
    display: flex;
    justify-content: center;
}

.inserta:hover {
    background-color: white;
    border: 2px solid darkorange;
}

.inserta a {
    text-decoration: none;
    color: white;
}

.inserta:hover a {
    color: darkorange;
}